form {
  width: 500px;

  & [type=submit] {
    padding: 10px;
    @include font-calculator($secondaryFontFamily, 24px);
    font-weight: 500;
    border: 1px solid $backgroundTwo;
    background: transparent;

    &:hover {
      border: 1px solid $highlight;
      color: $highlight;
    }
  }

  fieldset {
    display: flex;

    label {
      @include font-calculator($secondaryFontFamily, 22px, 0.5);
      font-weight: 400;
      flex: 1;

      ~ [type=text],
      ~ [type=email],
      ~ [type=password] {
        background: $textOne;
        border: 1px solid $link;
        color: $backgroundOne;
        @include font-calculator($secondaryFontFamily, 22px);
        font-weight: 200;
        outline: 1px dotted $backgroundOne;
        padding: 10px;
        flex: 1;
        width: 100%;
      }
    }
  }

  :global(.checkbox) {
    display: flex;
  }

  input {

    &[type=checkbox] {
      opacity: 1;

      + label {
        margin: 0 0 0 20px;
        position: relative;
        cursor: pointer;
        font-size: 20px;
        font-family: $secondaryFontFamily;
        font-weight: 500;
      }

      + label ~ label {
        margin: 0 0 0 40px;
      }

      &:checked + label {
        &::after {
          transform: scale(1);
          opacity: 1;
        }
      }

    }

  }

}

:global(.error) {
  @include font-calculator($secondaryFontFamily, 20px);
  color: $highlight;
}