$baseLineHeight: 2.5;
$baseFontSize: 62.5%;
$baseFontFamily: unquote("'industry-inc-3d', sans-serif");
$secondaryFontFamily: unquote("'clone-rounded-latin', sans-serif");

$golden: 1.618;
$base: 100%;
$gld10: $base / $golden;
$gld9: $base - $gld10;
$gld8: $gld9 / $golden;
$gld7: $gld9 - $gld8;
$gld6: $gld7 / $golden;
$gld5: $gld7 - $gld6;
$gld4: $gld5 / $golden;
$gld3: $gld5 - $gld4;
$gld2: $gld3 / $golden;
$gld1: $gld3 - $gld2;

$backgroundOne: rgb(255, 248, 227);
$backgroundTwo: rgb(204, 204, 159);
$textOne: rgb(51, 51, 45);
$highlight: rgb(219, 65, 5);
$link: rgb(159, 180, 204);