@import 'variables';
@import 'reset';
@import 'fonts';
@import 'functions';
@import 'mixins';
@import 'typography';
@import 'forms';

body {
  font-size: #{$baseFontSize};
  font-family: $secondaryFontFamily;
  font-weight: 400;
  line-height: #{$baseLineHeight}em;
}

:global(.octicon) {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}
