@import 'variables';
@import 'reset';
@import 'fonts';
@import 'functions';
@import 'mixins';
@import 'typography';
@import 'forms';
@import 'list';
@import 'animation';

body {
  font-size: #{$baseFontSize};
  font-family: $secondaryFontFamily;
  font-weight: 400;
  line-height: #{$baseLineHeight}em;
}

:global(.octicon) {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

:global(.form),
:global(.admin) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0 0;
}
