@import '../scss/_variables';
@import '../scss/_mixins';
@import '../scss/_fonts';

body {
  background: $backgroundOne;
  color: $textOne;
}

.wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 30px auto 10px auto;
  padding: 0 10px;
  background: black;
}

.left-column {
  background: transparent;
}

.right-column {
  background: transparent;
}

.list-section {
  background: transparent;
}

.list-section-left-column {
  display: flex;
  > div {
    flex: 1;
  }

  .stars {
    background: transparent;
  }

  .forked {
    background: transparent;
  }

  .side-link {
    @include font-calculator($secondaryFontFamily, 16px, 0);
    padding: 0 0 0 5px;
  }

  .side-icon {
    img {
      height: 30px;
      object-fit: cover;
    }
  }

}

.list-section-right-column {
  background: transparent;
}

// fonts

h1 {
  @include font-calculator($baseFontFamily, 80px, 1.5);
  line-height: 100%;
}

.left-column p {
  @include font-calculator($secondaryFontFamily, 24px, 1);
  font-weight: 500;
}

h2 {
  @include font-calculator($secondaryFontFamily, 26px, 1);
  font-weight: 500;
}

h3 {
  @include font-calculator($secondaryFontFamily, 20px, 0.5);
  font-weight: 400;
}

.right-column p {
  @include font-calculator($secondaryFontFamily, 16px, 1);
  font-weight: 300;
}

.list-section {

  a {

    text-decoration: none;
    &:link {
      color: $highlight;
    }
    &:visited {
      color: lighten($highlight, 10);
    }
    &:focus {
      color: darken($highlight, 10);
    }
    &:hover {
      color: darken($highlight, 10);
    }
    &:active {
      color: lighten($highlight, 10);
    }

  }

}

@supports (display:grid) {

  .wrapper {
    display: grid;
    grid-template-columns: #{$gld8} #{$base - $gld8};
    background: transparent;

    > div:first-of-type {
      background: transparent;
    }

    > div:last-of-type {
      background: transparent;
      padding: 0 $gld7;
    }

    .list-section {
      display: grid;
      grid-template-columns: #{$gld8} #{$base - $gld8};
      background: transparent;
      margin: 0 0 20px 0;

      > div:first-of-type {
        align-self: center;
      }

    }

  }

}

@supports ( (not (display:grid)) and (display:flex)) {

  .wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    > div:first-of-type {
      width: #{$gld8};

      background: blue;
    }
    > div:last-of-type {
      width: #{$base - $gld8};

      background: green;
    }
  }

}