@import '../../scss/_variables';
@import '../../scss/_functions';
@import '../../scss/_mixins';
@import '../../scss/_fonts';

.list {
  flex-direction: column;

  p {
    @include font-calculator($secondaryFontFamily, 18px, 2);
  }
}

.list-item {

  dl {
    margin: 0 0 50px 0;
  }

  dt {
    @include font-calculator($secondaryFontFamily, 20px);
    font-weight: 600;
  }

  dd {
    @include font-calculator($secondaryFontFamily, 16px);
    font-weight: 600;
  }

  a {
    text-decoration: none;
    background-image: linear-gradient(to top, rgba($link, 0) 11%, rgba($highlight, .3) 11%, rgba($highlight, .3) 16%, rgba($highlight, 0) 16%);

    &:link {
      color: $textOne;
    }
    &:visited {
      color: lighten($textOne, 10);
    }
    &:focus {
      color: darken($textOne, 10);
    }
    &:hover {
      color: $highlight;
    }
    &:active {
      color: $highlight;
    }

  }

}

.exclude-popular-header {
  @include font-calculator($secondaryFontFamily, 26px);
}

.highlight {
  background: $backgroundTwo;
  font-weight: 300;
  padding: 0 3px;
}

.loading {
  animation: blinker 0.75s linear infinite;
}

